@import url(http://fonts.googleapis.com/css?family=Cabin);

html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 16pt;
}

div.content {
    margin: auto;
    width: 900px;
}

div.header {
    background-color: beige;
    font-weight: bold;
    padding: 5px;
    border-bottom: solid 1px black;
}

.title {
    text-align: center;
}

div.check {
    width: 100px;
    text-align: center;
    display: inline-block;
}

div.name {
    width: 600px;
    display: inline-block;
}

div.due {
    width: 130px;
    display: inline-block;
    text-align: center;
}

div.action {
    width: 40px;
    display: inline-block;
    text-align: center;
}

input#new_list_item {
    display: inline-block;
    width: 70%;
    height: 30px;
    vertical-align: middle;
}

input#new_item_due {
    display: inline-block;
    width: 10%;
    height: 30px;
    vertical-align: middle;
}

div#empty {
    padding: 2em;
    text-align: center;
    display: none;
    background-color: coral;
}

div.button {
    background: rgba(0, 0, 0, 0);
    border: solid 1px darkblue;
    width: 40px;
    height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

div.button:active {
    background: skyblue;
}

div.button2 {
    background: rgba(0, 0, 0, 0);
    width: 40px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

div.button2:active {
    background: skyblue;
}